body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.watch {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 4px;
  border: 1px solid cadetblue;
  border-radius: 50%;
  align-items: center;

  &__hands {
    position: relative;
    width: 15px;
    height: 15px;
    background-color: cadetblue;
    border-radius: 50%;

    &:after {
      position: absolute;
      left: 7px;
      top: 7px;
      width: 100px;
      height: 2px;
      transform: rotate(-90deg);
      background-color: cadetblue;
      transform-origin: left;
      content: "";
      animation: rotateArrow 6s forwards infinite linear;
    }

    &:before {
      position: absolute;
      left: 7px;
      top: 7px;
      z-index: -1;
      width: 70px;
      height: 3px;
      transform: rotate(-90deg);
      background-color: rgb(240, 68, 15);
      transform-origin: left;
      content: "";
      animation: rotateArrow 60s forwards infinite linear;
    }
  }

}

@keyframes rotateArrow {
  100% {
    transform: rotate(450deg);
  }
}
